/* styles.css */
body {
  background-color: whitesmoke; /* Set background color */
  font-family: "Arial", sans-serif; /* Set font family */
  display: flex; /* Set display property to flex */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
  flex-direction: column; /* Set flex direction to column */
  height: 100vh; /* Set height to 100% of viewport height */
  margin: 0; /* Remove default margin */
}

h1 {
  color: lightslategrey;
}

.container {
  display: flex; /* Set display property to flex */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
  margin-bottom: 20px; /* Set margin bottom */
}

.search-container {
  display: flex; /* Set display property to flex */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
  margin-right: 20px; /* Set margin right */
}

input[type="text"] {
  width: 200px; /* Set width */
  padding: 10px; /* Set padding */
  border-radius: 4px; /* Set border radius */
  border: 1px solid #ccc; /* Set border */
  margin-right: 10px; /* Set margin right */
}

button {
  background-color: lightslategrey; /* Set background color */
  border: 0; /* Remove border */
  border-radius: 4px; /* Set border radius */
  color: #fff; /* Set text color */
  font-size: 18px; /* Set font size */
  padding: 10px; /* Set padding */
  cursor: pointer; /* Set cursor to pointer */
  transition: background-color 0.3s ease; /* Add transition effect */
}

button:hover {
  background-color: darkgrey; /* Change background color on hover */
}

button:active {
  transform: scale(0.5); /* Scale down button on click */
}

button:focus {
  outline: none; /* Remove outline on focus */
}

.result {
  background-color: whitesmoke; /* Set background color */
  display: flex; /* Set display property to flex */
  flex-direction: column; /* Set flex direction to column */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
  height: 500px; /* Set height */
  width: 700px; /* Set width */
  border-radius: 8px; /* Set border radius */
  overflow: hidden; /* Hide overflow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
  margin: 10px; /* Set margin */
}

/* styles.css */
.recipe-image {
  width: 400px; /* Set width of recipe image */
}

.result img {
  object-fit: cover; /* Set image fit */
  max-height: 70%; /* Set max height */
  max-width: 100%; /* Set max width */
}

.ready-in {
  background-color: white; /* Set background color */
  padding: 10px; /* Set padding */
  width: 100%; /* Set width */
  text-align: center; /* Set text alignment */
}
