/* styles.css - Contains styles for web application. */
/*****************************************************/

/* styles.css */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}

/* Container */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Search Container */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Input */
input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* Button */
button {
  background-color: darkgreen;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
}

button:hover {
  background-color: lightgreen;
}

/* Result */
.result {
  margin-bottom: 20px;
}

/* Result Image */
.result img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Result Details */
.result-details {
  padding: 20px;
  text-align: center;
}

.result-details h3 {
  color: #333;
  margin-bottom: 10px;
}

.result-details .ready-in {
  color: #666;
  margin-top: 10px;
}

/* Source Button */
#sourceButton {
  background-color:darkblue;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
}

#sourceButton:hover {
  background-color: blue;
}


/***********************************END CODE***********************************/
